@font-face {
  font-family: "iconfont"; /* Project id 5058398 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1762484178954') format('woff2'),
       url('iconfont.woff?t=1762484178954') format('woff'),
       url('iconfont.ttf?t=1762484178954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhangben:before {
  content: "\e614";
}

.icon-focus-project:before {
  content: "\e605";
}

.icon-contract:before {
  content: "\e632";
}

.icon-scatter:before {
  content: "\e63b";
}

.icon-focus:before {
  content: "\e625";
}

.icon-house:before {
  content: "\e674";
}

.icon-focus-rooms:before {
  content: "\e7a4";
}

.icon-landlord:before {
  content: "\e604";
}

.icon-contract-setting:before {
  content: "\e783";
}

.icon-tenant:before {
  content: "\e713";
}

.icon-booking:before {
  content: "\e608";
}

